body {
  background-color: rgb(241, 241, 241);
}
.logo {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
}

.logo_image {
  width: 40px;
  height: 40px;
  align-self: center;
}
.logo_name {
  width: 150px;
  height: 60px;
  vertical-align: middle;
}

.header_banner {
  margin: 0px;
  top: 0;
  max-width: 100%;
  width: 150vw;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.header_menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  flex-direction: row;
}

.header_btn {
  right: 50px;
  position: relative;
  float: right;
}
